*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root {
    --primaryColor: #CFFFEE;
    --secColor: #121826;
    --clor: #cffff4;
    --nav-height: 20rem;
    --ht: 5rem;
    /* nav-height for responsive navigation */
}

.set-margin-left{
    margin-left: 2rem;
}

/* p{
    
} */

header{
    position: relative;
    top: 0;
    width: 100%;
    height: 8rem;
    background: var(--secColor);
    display: flex;
    align-items: center;
}

#music-section div{
    position: relative;
    top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

iframe{
    aspect-ratio: 16/9;
    width: 80%;
    max-width: 450px;
    margin-bottom: 2rem;
}

/* .navbar{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


    <!-- link="lavender" vlink="cyan" alink="salmon" -->

} */
a{
    color: inherit;
}

a:visited{
    color: blue;
}

a:active{
    color: red;
}


#navigation{
    width: 70%;
    position: absolute;
    right: 0.4rem;
    display: flex;
    justify-content: space-evenly;
}

#pageLogo{
    aspect-ratio: 1/1;
    position: absolute;
    left: 10px;
}

#pageLogo a{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}
#logo{
    transition: all 0.15s;
}


#logo:hover{
    transform: scale(1.05);
    border: 1.5px solid white;
}

a{
    text-decoration: none;
}

#navigation a{
    position: relative;
    font-size: 1.8rem;
    color: lavender;
}

#projects-title{
    position: relative;
    font-size: 1.8rem;
    color: lavender;
}


.nav-title:hover{
    transition-duration: 0.2s;
    transform: scale(1.05);
}

#projects{
    position: relative;
    cursor: pointer;
}

#projects ul{
    list-style: none;
}

.project-list{
    display: none;
}

#projects li{
    padding: 0 12px;
    background: lavender;
    border: 1px solid black;
}

#projects li a{
    color: var(--secColor);
}

#projects:hover .project-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    left: 2rem;
    font-size: 2rem;
}

#projects li:hover{
    background: var(--primaryColor);
    border-width: 2px;
}

#navMenu{
    display: none;
    position: absolute;
    color: white;
    font-size: 2rem;
}

.hamburger{
    position: relative;
    background: white;
    width: 2rem;
    height: 3px;
}

#navBtn{
    display: none;
}


#intro-section{
    background: #CFDFEF;
    height: 20rem;
}

#about-section{
    height: fit-content;
    background: salmon;
}

#project-section{
    height: fit-content;
    background: skyblue;
}

#music-section{
    height: fit-content;
    background: pink;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    background: var(--secColor);
    bottom: 0;
    color: var(--primaryColor);
}


@keyframes navAnimation {
    from{
        height: 0;
    }to{
        height: var(--nav-height);
    }
}

@media (width < 650px) {
    header{
        height: var(--ht);
    }
    #logo{
        width: 70px;
    }
    #navMenu{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        right: 2rem;
        z-index: 3;
        cursor: pointer;
    }
    #navigation{
        display: none;
    }
    
    #navBtn:checked ~ #navigation{
        animation: navAnimation;
        animation-duration: 0.4s;
        height: var(--nav-height);
        width: 100%;
        position: absolute;
        top: var(--ht);
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        right: 0;
        background: rgba(5, 5, 5, 0.5);
        z-index: 2;
    }
    .nav-title{
        height: 2.5rem;
        width: 10rem;
    }
}


/* This is the comment in CSS. */
/*
Colors list:
#121826
#21012B
#00D2EE
#0A0061

light:
#CFFFEE
*/

/* *{
    margin: 0;
    padding: 0;
}
.bg-gray {
    background-color: #121826;
}
#logo{
    margin: 0;
    padding: 10px 0 0 0;
}
header{
    top: 0;
}
.text-light {
    color: lavenderblush;
}
h2 {
    color: #0A0061;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.center{
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #CFFFEE;
    font-family:'Times New Roman', Times, serif;
    width: 100%;
}
main {
    height:80vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 25px;
}
footer{
    height: 50px;
    width: 100%;
    background-color:  #060a1a;
    bottom: 0;
    position: static;
}
a {
    text-decoration: none;
}
#Watch, #Projects {
    font-size: larger;
    height: 50px;
    margin-left: 35%;
}
li {
    list-style-type: none;
    min-width: fit-content;
    height: 80px;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.lk {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
#l1, #l2 {
    height: 60px;
    width: 145px;
    position: relative;
    top: 10px;
    border: 1px solid red;
}
@media (max-width: 600px) {
    main{
        background-color: red;
    }
    header{
        flex-direction:column;
    }
} */

/*
vertical alignment => align-items
horizontal alighnment => justify-content
 */
