body{
    margin: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
}
#GraphPage {
    position: absolute;
    background: #cfffee;
    z-index: -2;
}
#shape {
    position: absolute;
    background: transparent;
    z-index: -1;
}
#animate {
    position: absolute;
    background: transparent;
    z-index: 0;
}
.btns {
    position: absolute;
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: end;
    align-items: center;
    top: 5%;
    z-index: 1;
}
button {
    color: darkcyan;
    background-color: #dfdfdf;
    margin-left: 1rem;
    border: 2px solid black;
    font-size: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    transition-duration: 50ms;
}
button:active {
    transform: scale(0.96);
    border-color: black;
    background-color: #cfffee;
    color: black;
    box-shadow: 0 0 25px black;
}
#plps {
    margin-right: 3rem;
}
select {
    width: max-content;
    height: 2rem;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: salmon;
    color:#010050;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
label {
    width: max-content;
    margin-right: 0.2rem;
    height: 2rem;
    font-size: 1.2rem;
    color: #0f0f0f;
}