:root {
    --primaryColor: #CFFFEE;
    --secColor: #121826;
    --clor: #d7b4f3; /* aqua is another option */
    /* --clor2: #E65A5A; */
    --clor2: skyblue;
    
    --ht: 5rem;
    --nav-height: 20rem;
    --navRadius: 4px;
    /* nav-height for responsive navigation */

    --em-font: 1.3rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html{
    scroll-behavior: smooth;
}

body{
    background: var(--primaryColor);
    /* rgb(164, 164, 235) */
}

.center{
    text-align: center;
}

.underline{
    text-decoration: underline;
}

.preloader{
    --time: 0.7s;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background: var(--secColor);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity var(--time) ease, visibility var(--time) ease; 
}

.preloader::after{
    --width: 6rem;
    content: "";
    width: var(--width);
    height: var(--width);
    border: 1rem solid var(--secColor);
    border-top-color: var(--primaryColor);
    border-right-color: var(--primaryColor);
    border-radius: 50%;
    animation: loading var(--time) linear infinite;
}

.preloader-hidden{
    opacity: 0;
    visibility: hidden;
}

@keyframes loading{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}



#reflection{
    background-image: url(../Images/MATHS/Reflection.jpg);
}
#derivative{
    background-image: url(../Images/MATHS/Derivative.jpg);
}
#ellipse{
    background-image: url(../Images/MATHS/Ellipse.jpg);
}
#scaling{
    background-image: url(../Images/MATHS/Scaling.jpg);
}

.set-margin-left{
    margin-left: 0.5rem;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    height: 8rem;
    background: var(--secColor);
    display: flex;
    align-items: center;
}

#music-section div{
    position: relative;
    top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

iframe{
    aspect-ratio: 16/9;
    width: 80%;
    max-width: 550px;
    margin-bottom: 2rem;
}

a{
    color: inherit;
}

a:visited{
    color: cyan;
}

a:active{
    color: red;
}


#navigation{
    width: 70%;
    position: absolute;
    right: 0.4rem;
    display: flex;
    justify-content: space-evenly;
}

#pageLogo{
    aspect-ratio: 1/1;
    position: absolute;
    left: 10px;
}

#pageLogo a{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}
#logo{
    transition: all 0.15s;
}
#logo:hover{
    transform: scale(1.05);
    border: 1.5px solid white;
}

a{
    text-decoration: none;
}

#navigation a{
    position: relative;
    font-size: 1.8rem;
    color: lavender;
}

#projects-title{
    position: relative;
    font-size: 1.8rem;
    color: lavender;
}


.nav-title:hover{
    transition-duration: 0.2s;
    transform: scale(1.05);
}

#projects{
    position: relative;
    cursor: pointer;
}
#projects ul{
    list-style: none;
}
.project-list{
    display: none;
}
#projects li{
    padding: 0 12px;
    background: lavender;
    border: 1px solid black;
}
#projects li a{
    color: var(--secColor);
}
#projects:hover .project-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    left: 2rem;
    font-size: 2rem;
}
#projects li:hover{
    background: var(--primaryColor);
    border-width: 2px;
}

#navMenu{
    display: none;
    position: absolute;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
}

.hamburger{
    position: relative;
    background: white;
    border-radius: var(--navRadius);
    width: 2rem;
    height: var(--navRadius);
}

#navBtn{
    display: none;
}


main{
    --angle: 2deg;
}
main p{
    text-align: justify;
    text-justify: inter-word;
    padding: 1rem;
    font-size: 1.2rem;
}


#intro-section{
    height: 85vh;
    --f1-size: 2.5rem;
    --f2-size: 1.5rem;
}

@keyframes intro{
    0%{
        font-size: 0;
    }
    100%{
        font-size: var(--f2-size);
    }
}

@keyframes introH{
    0%{
        font-size: 0.4rem;
    }100%{
        font-size: var(--f1-size);
    }
}

.h-animation{
    animation: introH 0.5s ease-in-out;
}
.intro-animation{
    animation: intro 1s ease-in-out;
}


#intro-section h1{
    margin: 0;
    padding-top: 5rem;
    text-align: center;
}

#intro-section p{
    margin: 0;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 1rem var(--clor2);
}

#about-section{
    height: fit-content;
}

#about-section p{
    font-size: var(--em-font);
    margin: 0;
}

#project-section{
    position: relative;
    height: fit-content;
    color: var(--primaryColor);
    margin-top: 1rem;
}
#project-section p{
    font-size: var(--em-font);
}
#demoProjects{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 2rem;
    margin-bottom: 5rem;
}
#project-section::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 125%;
    transform: skewY(var(--angle));
    z-index: -1;
    background:var(--secColor);
}
.card{
    --transitionTime: 0.2s;
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all var(--transitionTime);
}
.anchor{
    position: relative;
    border: 2px solid cyan;
    border-top: none;
    width: 100%;
    height: 3rem;
    min-height: fit-content;
    display: flex;
    transition: all var(--transitionTime);
}
.anchor a{
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
    font-weight: 600;
    color: lavender;
    background-color: var(--secColor);
    transition: all var(--transitionTime);
}
.thumbnail{
    aspect-ratio: 3/2;
    width: 100%;
    background: #CFFFEE;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    border: 2px solid var(--primaryColor);
    border-bottom: 2px solid cyan;
}
.thumbnail a{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: default;
}
.anchor a:visited{
    color: cyan;
}
.anchor a:hover{
    background: cyan;
    color: var(--secColor);
}
.anchor:hover{
    border-color: var(--secColor);
}
.card:hover{
    transform: scale(1.03);
    box-shadow: 0 0 1rem 0.3rem var(--clor);
}

#music-section{
    margin: 0;
    position: relative;
    height: fit-content;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#music-section p{
    position: relative;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    min-height: 10vh;
    padding-bottom: 1rem;
}
#music-section div{
    margin-top: 1rem;
}
#music-section::before{
    --w: 3rem;
    content: '';
    position: absolute;
    left: 0;
    background: linear-gradient(
        to bottom,
        var(--clor),
        var(--primaryColor)
    );
    transform: skewY(calc(var(--angle)*-1));
    z-index: -1;
    border-radius: var(--w) 0 0 0;
    width: 100%;
    height: 100%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    background: var(--secColor);
    bottom: 0;
    color: var(--primaryColor);
}


@keyframes navAnimation {
    from{
        height: 0;
    }to{
        height: var(--nav-height);
    }
}

@media (width < 650px) {
    header{
        height: var(--ht);
    }
    #logo{
        width: 70px;
    }
    #navMenu{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        right: 2rem;
        z-index: 3;
        cursor: pointer;
    }
    #navigation{
        display: none;
    }
    .card{
        width: 80%;
    }

    #navBtn:checked ~ #navigation{
        animation: navAnimation 0.4s;
        height: var(--nav-height);
        width: 100%;
        position: absolute;
        top: var(--ht);
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        right: 0;
        background: rgba(5, 5, 5, 0.5);
        z-index: 2;
    }
    .nav-title{
        height: 2.5rem;
        width: 10rem;
    }

    footer{
        font-size: 1rem;
    }
}


/* This is the comment in CSS. */
/*
Colors list:
#121826
#21012B
#00D2EE
#0A0061
*/